html, div {
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: #FF6600;
}
.display-tree-small{
  background: url('../images/tree.png');
  background-repeat: no-repeat;
  height:250px;
  width:200px;
  border: none;
}

.display-tree-big{
  background: url('../images/tree_big.png');
  background-repeat: no-repeat;
  height:1000px;
  width:1000px;
  border: none; 
  position: relative;
}

#orange-tree-template { display: none; }
button {
  background-color:#44c767;
  -moz-border-radius:28px
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #18ab29;
  color:#ffffff;
  font-family:arial;
  font-size:17px;
  padding:8px 15px;
  text-shadow:0px 1px 0px #2f6627;
}
button:hover {
  background-color:#5cbf2a;
}

/* Add more styles here*/